.form__double-field
  .form__field.form__half-field
    = label_tag :first_name,
      nil,
      class: "form__label"
    = text_field_tag :first_name,
      nil,
      placeholder: "First",
      required: "required",
      class: "form__input"
  .form__field.form__half-field
    = label_tag :last_name,
      nil,
      class: "form__label"
    = text_field_tag :last_name,
      nil,
      placeholder: "Last",
      required: "required",
      class: "form__input"

.form__field
  = label_tag :address,
    nil,
    class: "form__label"
  = text_field_tag :address,
    nil,
    placeholder: "Address",
    required: "required",
    class: "form__input"

  .flex-row
    .flex-col.form__one-third-field
      = text_field_tag :city,
        nil,
        placeholder: "City/Locality",
        required: "required",
        class: "form__input"
    .flex-col.form__one-third-field
      = text_field_tag :state,
        nil,
        placeholder: "State/Region",
        required: "required",
        class: "form__input"
    .flex-col.form__one-third-field
      = text_field_tag :billing_zip,
        nil,
        placeholder: "Zip/Postal Code",
        required: "required",
        class: "form__input"

.form__field
  = label_tag :phone,
    nil,
    class: "form__label"
  = text_field_tag :phone,
    nil,
    placeholder: "(XXX) XXX-XXXX",
    required: "required",
    class: "form__input"


