.align-center.forms
  .column.small-12.medium-7
    .secondary-heading
      Payment information

    = form_for :subscription,
      url: [:subscription],
      method: :create,
      html: { id: "braintree-payment-form",
      "data-validate": "data-validate",
      "no-validate": "no-validate" } do |f|

      = hidden_field_tag :authenticity_token, form_authenticity_token
      = hidden_field_tag :payment_method_nonce

      = render "plan_options"
      = render "unity/payment_method/card_details", f: f

      .submit-field
        = f.submit 'Get started',
          data: { disable_with: "Please wait..." }

%script{  src: "//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.1/require.min.js" }

:javascript
  braintree_setup('#{@token}');
