%div.align-center.align-vertical.row.forms
  %div.column.small-12.medium-10.wrapper
    %div#new-subscription.row.align-center.align-vertical
      %div.column.small-12
        %div.small-12.columns
          %h2.small-12.columns.external-header
            Payment information

        %div
          = form_for :subscription,
            url: [:subscription],
            method: :create,
            html: { id: "braintree-payment-form",
            "data-validate": "data-validate",
            "no-validate": "no-validate" } do |f|
            = hidden_field_tag :authenticity_token, form_authenticity_token
            = hidden_field_tag :payment_method_nonce
            %div.small-12.columns
              %div.small-12.columns
                %label Billing cycle
              %div.small-12.columns
                %div.monthly-radio.small-6.column.radio.active
                  = radio_button_tag :plan_id, 'monthly_subscription', checked: true
                  = label_tag(:plan_monthly, 'Monthly - $15 every month')
                %div.yearly-radio.small-6.column.radio
                  = radio_button_tag :plan_id, 'yearly'
                  = label_tag(:plan_yearly, 'Yearly - $120 once a year')

            = render "payment_method/card_details"
              %div.small-12.columns
                %div.small-12.columns= f.submit 'Get started', id: 'stripe-submit', data: { disable_with: "Please wait..." }

                %div.small-12.columns.instructions
                  Your card will be charged upon submitting this form and begin your subscription.

%script{ src: "https://js.braintreegateway.com/js/braintree-2.32.1.min.js" }
:javascript
  braintree.setup('#{@token}', 'custom', {
    id: "braintree-payment-form",
    hostedFields: {
      styles: {
        'input': {
          'color': '#474D51',
          'font-size': '14px'
        }
      },
      number: {
        selector: '#card-number'
      },
      expirationMonth: {
        selector: '#card-expire-month'
      },
      expirationYear: {
        selector: '#card-expire-year'
      },
      cvv: {
        selector: '#cvv-field'
      }
    }
  });
